<div class="container">
    <div class="row">
        <!--open payment form-->
        <form class="col s12">
            <!--open username input-->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="To: Friends username" id="username" type="text" class="validate">
                </div>
            </div>
            <!--close username input-->
            <!--open amount & buttons input-->
            <div class="row">
                <div class="col s6 input-field">
                    <!--update the currency input to materialize theme-->
                    <input placeholder="$" id="amount" type="number">
                </div>
                <div class="col s6">
                    <a class="btn">Pay</a>
                    <a class="btn">Request</a>
                </div>
            </div>
            <!--close amount & buttons input-->
        </form>
        <!--close payment form-->
    </div>
    <!--open recent transactions card-->
    <div class="row">
        <div class="col s12">
            <div class="card transactions-card">
                <div class="card-content">
                    <span class="card-title">Recent Transactions</span> {{#each transactions}}
                    <p>{{name}} {{transaction}} {{amount}} to {{newUser}}</p>
                    {{/each}}
                    <!--example recent transaction-->
                    <p class="transaction">Bridgete paid $75 to Art</p>
                </div>
            </div>
        </div>
    </div>
    <!--close recent transactions card-->
</div>